@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@100;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.bg-secondary-col {
  background-color: #3e3c3c;
  padding: 1% 10%;
}

.background-headline {
  background-color: #1c1a19;
  background-image: url("img/Illustration-header.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: right;
}

.heading-text {
  font-family: 'Crete Round', serif;
  color: #f55800;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
}
.work{
  padding-left: 20%;
  color: #091E42;
  font-family: 'Crete Round';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 52px;
}